<footer class="layout-footer">
  <div>府城佛教網<a href="http://myweb.ncku.edu.tw/~lsn46/">（mirror 站）</a></div>
  <hr>
  <strong>
    三寶弟子--(優婆塞)圓信(Nanda--Pāli Name)
    歡迎<a href="mailto:lsn46@mail.ncku.edu.tw">來函</a>指教！
  </strong>
  <hr>
  <div class="align-center">
    <div>※※※本網站 Htmled 版權屬十方法界，歡迎複製流傳；※※※</div>
    <div>※※※法義尊貴，請勿商品化流通！※※※</div>
    <div><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/tw/">參考台灣(CC BY-NC-SA 3.0 TW)授權條款</a></div>
  </div>
  <hr>
  <div class="align-center">
    <div class="fake-h3">願我們一起分享法施的功德、</div>
    <div class="fake-h2">願一切眾生受利樂、</div>
    <div class="fake-h1">願正法久住。</div>
  </div>
</footer>
