{% extends "layout/layout.html" %}
{% set content = (page if page else article )%}

{% block meta_keywords -%}
  {%- if content.tags -%}
    {%- for tag in content.tags -%}
      {{- tag -}}
      {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{- META_KEYWORDS -}}
  {%- endif -%}
{%- endblock %}

{% block meta_description -%}
  {%- if content.summary -%}
    {{- content.summary|striptags -}}
  {%- else -%}
    {{- META_DESCRIPTION -}}
  {%- endif -%}
{%- endblock %}

{% block meta_author -%}
  {%- if content.author -%}
    {{- content.author -}}
  {%- else -%}
    {{- AUTHOR -}}
  {%- endif -%}
{%- endblock %}

{%- if content.og_image -%}{% set OG_IMAGE = content.og_image %}{%- endif -%}
{%- if content.summary -%}{% set OG_DESCRIPTION = (content.summary|striptags) %}{%- endif -%}

{% block content %}
<main role="main" class="{{ content_css_class }}">
  {%- if 'content/articles/tipitaka/' in content.source_path or 'content/articles/anya/' in content.source_path -%}
    <div class="align-center">
      <p><strong>namo tassa bhagavato arahato sammāsambuddhassa</strong></p>
      <p><strong>皈敬世尊、阿羅漢、正等正覺者</strong></p>
    </div>
    <hr>
  {%- endif -%}
  <article>
  {%- if content.title -%}
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ content.url }}"
           rel="bookmark"
           title="Permalink to {{ content.title|striptags }}">
          {{ content.title }}
        </a>
      </h1>
    </header>
  {%- endif -%}
    {% block article_time %}{% endblock %}
    <aside>
      {{- translations_for(content, SITEURL) -}}
      {%- if content.github_url -%}
        <div class="edit-on-github"><a href="{{ content.github_url }}">GitHub</a></div>
      {%- endif -%}
      {%- if content.oldurl -%}
        <div class="old-url"><a href="{{ content.oldurl }}">Old</a></div>
      {%- endif -%}
      <div class="zh-convert"><span id="zh-convert" data-zh="tw">简体</span></div>
      <div class="font-adjust">
        <span id="font-larger">字+</span>
        <span id="font-smaller">字-</span>
      </div>
    </aside>
    <hr>
    {% if GOOGLE_CSE %}<gcse:search></gcse:search>{% endif %}
    <div class="main-content">{{ content.content }}</div>
    <footer>{% block article_metadata %}{% endblock %}</footer>
  {%- if 'content/articles/tipitaka/' in content.source_path or 'content/articles/anya/' in content.source_path -%}
    <hr>
    <div>
      <p>巴利文經典最突出的特點，同時也是缺乏同情心的讀者最感厭倦的特點，就是單字、語句和整段文節的重複。這一部分是文法或至少是文體所產生的結果。 …，…，…，</p>
      <p>…，…，…， 這種文句冗長的特性，另外還有一個原因，那就是在長時期中三藏經典只以口授相傳。 …，…，…，</p>
      <p>…，…，…， 巴利文經典令人生厭的機械性的重覆敘述，也可能一部分是由於僧伽羅人(Sinhalese)不願遺失外國傳教師傳授給他們的聖語 …，…，…，</p>
      <p>…，…，…， 重覆敘述不僅是說教記錄的特點，而且也是說教本身的特點。我們持有的版本，無疑地是把一段自由說教壓縮成為編有號碼的段落和重覆敘述的產品。佛陀所說的話一定比這些生硬的表格更為活潑柔軟得多。</p>
      <p>（節錄自： <a href="http://nanda.online-dhamma.net/extra/authors/charles-eliot/Pali_Buddhism-Charles_Eliot-han-chap06-selected.html">巴利系佛教史綱　第六章　聖典　二　摘錄 ）</a></p>
    </div>
      {%- endif -%}
      
  {%- if 'content/articles/a-path-to-freedom/ven-uttamo/' in content.source_path -%}
    <div>
      <p><strong>據英譯者—鄔達摩比丘交待，此譯文僅能免費與大眾結緣，作為法的禮物（Dhamma Dāna）。你可以在任何媒體上重新編製、重印、翻譯和重新發布這部作品。</strong></p>
    </div>
      {%- endif -%}
      
  {%- if 'content/articles/a-path-to-freedom/ven-uttamo/dhamma-talks-by-mogok-sayadaw-han/' in content.source_path -%}
    <div>
      <p><strong><font size=+1>中譯聲明：</strong></font>出於法供養之心，試譯此文以饗法友。此譯文是一暫時性版本，會隨時空因緣儘可能訂正誖誤。囿於所學，請十方賢達不吝來函賜教錯謬與未臻完善處；並祈藉此拋磚引玉，眾法友能共襄盛舉，共同圓滿此譯事。 Nanda 謹識。</p>
    </div>
  {%- endif -%}

  {%- if 'content/articles/arts-and-culture/hwang-yau-tai/hwang-yau-tai/' in content.source_path -%}
    <div>
      <p><strong>相較於音樂創作人重視的版權的問題，個性豁達的黃友棣，早在遺囑中寫下，放棄所有音樂作品的版稅，任由後人傳唱，因為他最重視，就是音樂的推廣和教育。</strong> （ <a href="https://news.pts.org.tw/article/152953">音樂大師黃友棣 百歲高齡辭世</a> - 2011年08月02日 ｜ 公視新聞網 PNN；<a href="https://web.archive.org/web/20251204233830/https://news.pts.org.tw/article/152953">頁面存檔備份</a>，存於網際網路檔案館, 2025-12-04）</p>
      <p><strong>個性豁達的黃友棣大師，九年前也早在遺囑中寫下，放棄所有音樂作品的版稅，任由後人傳唱，因為他最重視，就是音樂的推廣和教育。</strong> （ <a href="https://www.nsysu.edu.tw/p/404-1000-14617.php?Lang=zh-tw">千曲百歲人生 無私樂音流傳</a>，國立中山大學20100704；<a href="https://web.archive.org/web/20251204232134/https://www.nsysu.edu.tw/p/404-1000-14617.php?Lang=zh-tw">頁面存檔備份</a>，存於網際網路檔案館, 2025-12-04）</p>
      <p><strong>黃友棣大師一生奉行「大樂必易」的音樂哲學，畢生創作超過三千首歌曲，立遺囑「全部音樂作品皆可供人自由印行」放棄曲目版稅，留給後人傳唱。</strong> （ <a href="https://catalog.digitalarchives.tw/item/00/61/fb/08.html">主要作品名稱:當晚霞滿天：黃友棣教授紀念音樂會</a>，數位典藏與數位學習國家型科技計畫；<a href="https://web.archive.org/web/20251205015358/https://catalog.digitalarchives.tw/item/00/61/fb/08.html">頁面存檔備份</a>，存於網際網路檔案館, 2025-12-04）</p>
      <p><strong>二〇〇一年四月中旬預立的遺囑同樣不失其風趣幽默的本性：「自其逝世之日起，其全部音樂作品皆可供人自由印行、演唱、演奏、製片、錄音、錄影、用為背景音樂；皆可出售，全無限制」，由此可見出他對音樂的大愛。</strong> （ <a href="https://hkmi.org.hk/music-companion/mc093.pdf"></a>，樂友第93期，2010-12月，香港音樂專科學校，；<a href="https://web.archive.org/web/20251204233825/https://hkmi.org.hk/music-companion/mc093.pdf">頁面存檔備份</a>，存於網際網路檔案館, 2025-12-04）</p>
    </div>
  {%- endif -%}
    <hr>
  </article>
</main>
{% endblock %}
