{#
  HTML5 Semantic Elements
  @see http://www.w3schools.com/html/html5_semantic_elements.asp

  Facebook Content Sharing Best Practices
  @see https://developers.facebook.com/docs/sharing/best-practices
#}
{%- from 'layout/includes/i18n.html' import gettext, translations_for, lang_code2name -%}
{%- from 'layout/includes/time.html' import Buddhist_calendar -%}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <title>{%- block title -%}{{ SITENAME }}{%- endblock -%}</title>
  <meta name="keywords" content="{% block meta_keywords -%}{{ META_KEYWORDS }}{%- endblock %}"/>
  <meta name="description" content="{% block meta_description -%}{{ META_DESCRIPTION }}{%- endblock %}"/>
  <meta name="author" content="{% block meta_author -%}{{ AUTHOR }}{%- endblock %}"/>
  {%- if OG_TITLE -%}<meta property="og:title" content="{{ OG_TITLE }}" />{%- endif -%}
  {%- if OG_IMAGE -%}<meta property="og:image" content="{{ OG_IMAGE }}" />{%- endif -%}
  {%- if OG_DESCRIPTION -%}<meta property="og:description" content="{{ OG_DESCRIPTION }}" />{%- endif -%}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
</head>
<body>

{% include 'layout/includes/top_nav.html' %}
{%- block content -%}{%- endblock -%}

<footer class="layout-footer">
  <strong>
  {%- block nanda_email -%}
    Nanda歡迎<a href="mailto:{{ NANDA_EMAIL }}">來函</a>指教！
  {%- endblock -%}
  </strong>
  <hr>
  <div class="align-center">
    <div>※※※本網站 Htmled 版權屬十方法界，歡迎複製流傳；※※※</div>
    <div>※※※法義尊貴，請勿商品化流通！※※※</div>
    <div><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/tw/">參考台灣(CC BY-NC-SA 3.0 TW)授權條款</a></div>
  </div>
  <hr>
  <div class="align-center">
    <div class="fake-h3">願我們一起分享法施的功德、</div>
    <div class="fake-h2">願一切眾生受利樂、</div>
    <div class="fake-h1">願正法久住。</div>
  </div>
</footer>

{% include 'layout/includes/analytics.html' %}
{% include 'layout/includes/cse.html' %}

<script src="{{ SITEURL }}/theme/js/hushiah.js"></script>
</body>

<!--
2022-04-18 del. mirror site on ncku
-->

</html>
