sudo: required
dist: trusty
language: python
python:
- '2.7'
branches:
  only:
  - master
addons:
  apt:
    packages:
    - language-pack-zh-hant
install:
- pip install -r requirements.txt
script:
- make publish
deploy:
  provider: pages
  repo:  twnanda/twnanda.github.io
  target_branch: master
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: output
  on:
    branch: master
