{% extends "layout/layout.html" %}
{% block content %}
<main role="main" class="article">
  <article>
  {% for page in hidden_pages if page.slug == "index" %}
  <div class="main-content">

  <div class="picasa-image">
    <div>namo tassa bhagavato arahato sammāsambuddhassa</div>
    <image src="/extra/img/bss.jpg">
  </div>
  <div class="picasa-image">
    <div>皈敬世尊、阿羅漢、正等正覺者</div>
    <image src="/extra/img/Buddha2.jpg">
  </div>
  <div class="align-center"><strong>歡迎光臨</strong><h1>府城佛教網</h1></div>
  <div class="picasa-image">
    <image src="/extra/img/buddha.jpg">
    <div>諸惡莫作，眾善奉行，自淨其意，是諸佛教。〔法句經 183 偈頌〕</div>
  </div>

    <hr>
    <aside>
      <time datetime="{{ page.modified.isoformat() }}">
        Updated: {{ Buddhist_calendar(page.modified) }}
      </time>
    </aside>
    <aside>
      {{- translations_for(page, SITEURL) -}}
      {%- if page.github_url -%}
        <div class="edit-on-github"><a href="{{ page.github_url }}">{{ gettext('Edit on Github', DEFAULT_LANG) }}</a></div>
      {%- endif -%}
    </aside>
  {{ page.content }}
  </div>
  {% endfor %}
  </article>
</main>
{% endblock %}
