$font-stack: Arial, Helvetica, sans-serif, "微軟正黑體", "Microsoft JhengHei";
$primary-color: #fff;
$link-hover-color: #2445ae;

// keep parent element of floated elements from collapsing
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

* { font-family: $font-stack; }

body {
  font-size: 20px;
  background-color: #c7edcc;
  color: black;
}

.common-title {
}

// top navigation bar
.top-nav[role=navigation] {
  @extend .common-title;

  .nav-links {
    float: right;
  }

  @include clearfix;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul li {
    display: inline;
    margin-right: .25em;
  }
}

.common-border {
  border-radius: 4px;
  border: medium solid $primary-color;
  margin-top: 4px;
  padding: 5px;
}

.common-datetime {
  //color: #d6d5d5;
  //color: #dbdad0;
  color: #888888;
  font-size: 1.25em;
  line-height: 1.5em;
}

.content {
  @extend .common-border;
  @extend .common-title;

  aside {
    .edit-on-github {
      float: right;
      a {
        padding: 5px 5px;
        background: $primary-color;
        border-radius: 4px;
      }
    }
    .zh-convert {
      float: right;
      margin-right: 3px;

      span {
        &:hover {cursor: pointer;}
        padding: 5px 5px;
        background: $primary-color;
        border-radius: 4px;
      }
    }

    .available-translations {
      float: left;
    }

    @include clearfix;
  }

  .main-content {
    // include css rules for rst content rendering
    @import "css4rst";
  }
}

.page { @extend .content; }
.article { @extend .content;
  aside { time {@extend .common-datetime;} }
}

.post {
  @extend .common-border;
  @extend .common-title;

  aside.post-metadata-date {
    @extend .common-datetime;
  }

  div.post-content {
    line-height: 1.5em;
    font-size: 1.25em;
    p { display: inline; }

    a.read-more {
      color: #428bca;
      &:hover { color: $link-hover-color; }
    }
  }
}

.archives {
  @extend .common-border;
  @extend .common-title;

  // @see http://stackoverflow.com/questions/9538247/css-background-disappears-when-using-floatleft
  overflow: hidden;
  dl {
    line-height: 2em;

    dt {
      float: left;
      clear: left;
    }
    dd {
      float: left;
      margin-left: 1em;
    }
  }
}

.common-groups {
  @extend .common-border;

  ul > li {
    line-height: 2em;
    .badge {
      line-height: 1.5em;
      color: rgb(0, 0, 238);
      padding: 0 .75em 0 .75em;
      background-color: #fff;
      border-radius: 6px;
    }
  }
}

.tags, .authors, .categories {
  @extend .common-groups;
}

.common-group {
  padding: 5px;
  ol.breadcrumb {
    @extend .common-border;
    li {
      &:after { content: " / "; }
      &.active:after { content: ""; }
      display: inline;
    }
  }
}

.tag, .author, .category {
  @extend .common-group;
}

.layout-footer {
  @extend .common-border;

  .align-center {
    clear: both;
    text-align: center;
  }
  .fake-h3 {font-size: 1.17em;}
  .fake-h2 {font-size: 1.5em;}
  .fake-h1 {font-size: 2em;}
}
